<html>
<head>
  <meta charset="UTF-8">
  <title>Unit-11-Authentication</title>
</head>
<body>
  League Stats
  <form method="POST" action='/stats'>
    <input name="lane" placeholder="lane">Jungle, Bottom, Top, Mid</input>
    <input name="role" placeholder="carry/support">If lane is Bottom, specify "duo_carry" or "duo_support"; if lane is jungle, specify "none"</input>
    <input type='submit' value="info">
  </form>
</body>
</html>
